[Unit]
Description=k3s first server
After=network.target

[Service]
ExecStart=/usr/local/bin/k3s server --cluster-init
KillMode=process
Restart=always
EnvironmentFile=/etc/environment

[Install]
WantedBy=multi-user.target
