[Unit]
Description=k3s agent
After=network.target

[Service]
ExecStart=/usr/local/bin/k3s agent
KillMode=process
Restart=always
EnvironmentFile=/etc/environment

[Install]
WantedBy=multi-user.target
