[Unit]
Description=k3s join server
After=network.target

[Service]
ExecStart=/usr/local/bin/k3s server
KillMode=process
Restart=always
EnvironmentFile=/etc/environment

[Install]
WantedBy=multi-user.target
